.header1 {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.seperator {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.padding {
  padding: 10px;
}
.main-content11 {
  width: 382px;
  height: 63%;
  /* margin: 148px auto; */
  margin: 38px auto;
  background-color: #fff;
   border: 2px solid #e6e6e6;
  padding: 40px 50px;
}
.photopu{
  padding-left: 64px;
  margin: 26px;
  height: 86px;
}

.uploadbtn {
  opacity: 0;
  height: 8px;
  width: 166px;
}

.btncolor {
  background-color: #9797eb;
    color: white;
    padding-bottom: 24px;
}